@charset "UTF-8";

#calendar-view{
	height:100%;
	padding-left:3em;
	padding-right:3em;
	padding-top:5em;
	padding-bottom:5em;
}
#record-view{
	padding-left:3em;
	padding-right:3em;
}
.fc-daygrid-event-harness{
	display:inline-block;
	box-sizing:content-box;
}
.fc-daygrid-day-events{
	text-align:right;
	height:1px;
}
.record-box{
	min-height:8em;
}
.record-create{
	min-height:9em;
}
#record-view{
	padding:5em;
}