@charset "UTF-8";

.modal {
	display : none;
	width:100%;
	height:100%;
}

.selectModal {
	display : none;
	width:100%;
	height:100%;
}

.selectExpertModal {
	display : none;
	width:100%;
	height:100%;
}

.container {
	width:100%;
	height:100%;
}
	
#testBtn{
	border : 1px solid #1a2a3a;
	border-radius : 10px;
	background-color:#FF92A4;
	padding : 10px;
	margin : 20px;
	color : white;
	width : 40%;
	height : auto;
}

#okBtn{
	border : 1px solid #1a2a3a;
	border-radius : 10px;
	background-color:#FF92A4;
	padding : 10px;
	margin : 20px;
	color : white;
	width : 80%;
	height : auto;
}

#otherBtn{
	border : 1px solid #1a2a3a;
	border-radius : 10px;
	background-color:#51459E;
	padding : 10px;
	margin : 20px;
	color : white;
	width : 40%;
	height : auto;
}

.modal .modalFunc {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width:20%;
	margin:0 auto;
	padding:20px 10px;
	background:#fff;
	border:2px solid #666;
}

.modal .modalContent {
	margin : 0 auto;
}

.modalContent span{
	font-weight : bold;
	color : #4641D9;
	font-size : 120%;
}

.selectModal .selectModalFunc {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width:20%;
	margin:0 auto;
	padding:20px 10px;
	background:#fff;
	border:2px solid #666;
}

.selectModal .selectModalContent {
	margin : 0 auto;
}

.selectExpertModal .selectExpertModalFunc {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width:20%;
	margin:0 auto;
	padding:20px 10px;
	background:#fff;
	border:2px solid #666;
}

.selectExpertModal .selectExpertModalContent {
	margin : 0 auto;
}

#closeBtn {
	float : right;
	margin-right : 3%;
	background-color : #fff;
	color : #000;
}

.modalLayer {
	display : none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.5);
}   

#ageGroupSelect {
	width : 80%;
	font-size : 20px;
}
